@media screen and (min-width: 1158px) {
    .container {
        max-width: 1128px;
    }

    nav .logo {
        /*margin-top: 25.5px;*/
    }

    .team-list .card {
        margin-right: 24px;
        width: calc((100%) / 4);
    }

    address ul {
        flex-direction: row;
    }

    address ul li {
        width: 153px;
        height: 24px;
        top: 24px;
        left: 940px;
        gap: 0px;
        opacity: 0px;

    }

    .section-vision {
        padding: 120px 0;

    }

    .vision {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .vision-div {
        height: 112px;
        width: 264px;
        background-color: #F4F4FD;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        margin-bottom: 22px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }

    .team-list {

        flex-wrap: nowrap;

    }


    .customers-wrapper {
        max-width: 1158px;
        margin-left: 0px;
        margin: 0 auto;
    }

    header .container nav {
        /* min-height: 80px; */
        /* display: flex; */
        align-items: center;

        /* width: 100%; */
        justify-content: left;

    }

    .solutions {
        text-align: center;
        /*padding: 188px 0;*/
        padding: 72px 0;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url('../images/solutions/desktop.png');

    }
}