@media screen and (min-width: 1158px) {
    .container {
        max-width: 1128px;
    }

    nav .logo {
        margin-right: 76px;
        /*margin-top: 25.5px;*/
    }

    .team-list .card {
        margin-right: 24px;
        width: calc((100%) / 4);
    }


    address ul {
        flex-direction: row;
    }

    address ul li {
        width: 153px;
        height: 24px;
        top: 24px;
        left: 940px;
        gap: 40px;
        opacity: 0px;

    }

    .section-vision {
        padding: 120px 0;

    }

    .vision {
        flex-wrap: nowrap;
        gap: 24px;
    }
    .vision li{
        gap:0px
    }
    .vision-div {
        height: 112px;
        width: 264px;
        background-color: #F4F4FD;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .vision h3{


        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;

    }

    .team-list {
        flex-wrap: nowrap;
    }


    .customers-wrapper {
        max-width: 1158px;
        margin-left: 0px;
        margin: 0 auto;
        flex-wrap: nowrap;
    }

    header .container nav {
        /* min-height: 80px; */
        /* display: flex; */
        align-items: center;
        /* width: 100%; */
        justify-content: left;

    }

    .solutions {
        text-align: center;
        padding: 188px 0;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),   -webkit-image-set(url('../images/solutions/desktop.png')1x, url('../images/solutions/desktop_@2x.jpg')2x);

    }

    .footer-wrapper{

        display: flex;
width: 1124px;
        justify-content: left;
        flex-direction: row;
        flex-wrap: nowrap;

    }
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) scale(1);
        width: 408px;
        min-height: 584px;
        background-color: var(--dairy);
        border-radius: 4px;
        opacity: 100%;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.42, 0, 0.21, 1.5);
        transition-property: transform, opacity;
        transition-delay: 600ms;
        padding: 72px 24px 24px 24px;
    }

.section-benefits{
    display: flex;
}
    .benefits {
        display: flex;
    }

    .team-list{
        gap:24px;
    }
}