
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
    --normal: #9747FF;
    --primary-font: "Roboto", sans-serif;
    --title-font: "Oswald", sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --trns-slow: 600ms ease-out;
    --trns-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


h1 {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

ul {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
}

h3 {
    /*font-family: var(--primary-font);*/
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

body {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--navy-blue);
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

p {
    margin: 0;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}

.small {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--navy-blue);
}

.medium {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /*box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);*/
    background: var(--iris);
    color: var(--white);
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    letter-spacing: 0.04em;
}

button:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--ocean);
    transition: background-color var(--trns-fast);
}

a {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    text-decoration: none;
    text-decoration-skip-ink: none;
    color: var(--iris);
}

a:hover {
    text-decoration: underline;
}

a:active {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--ocean);
}

li {
    list-style-type: none;
}


nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-right: 76px;
    flex-wrap: wrap;
}

.logo span {
    color: var(--navy-blue);
}

.logo:hover {
    text-decoration: none;
}

.team {
    padding: 120px 0 120px 0;
    text-align: center;
    background: var(--cloud);
}
 .logo{
     display: block;
    margin-bottom: 16px;
}

footer .logo span {
    color: #fff;
}

.filter{
    padding-top: 96px;
    padding-bottom: 72px;

}

.filter ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.filter a {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    cursor: pointer;
}

.filter a:hover,
.filter a:active {
    /*color: var(--iris);*/
    text-decoration: none;


}

.visuality-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.li {
    color: var(--slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.portfolio {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;

}

.portfolio .card {
    display: flex;
    width: 359px;
    height: 420px;
    /*padding-bottom: 32px;*/
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;

}

.card-content {
    border: 1px solid var(--cornflower);
    border-top: none;
    padding: 32px 16px;
}

.portfolio img {
    width: 360px;
    height: 300px;
    flex-shrink: 0;
}

.portfolio h3 {
    font-family: var(--primary-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;

}

.portfolio p {
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

footer {
    color: var(--cloud);
    background-color: var(--navy-blue)
}

footer p {
    color: var(--cloud);
}

.solutions {
    text-align: center;

    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),url('../images/people_in_the_office.jpeg');

}


.solutions div {
    padding: 188px  0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%

}

.solutions .container button {
    width: 169px;
    height: 56px;
}

h1 {
    font-family: var(--title-font);
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}

.main-title{
    margin-bottom: 48px;
}

button {
    border: 1px solid var(--cornflower);
    padding: 12px 24px;
    background-color: var(--cloud);
    color: var(--ocean);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
}

button:hover {
    border: 1px solid var(--cornflower);
    padding: 12px 24px;
    color: var(--cloud);
    background-color: var(--ocean);
    transition: var(--trns-fast);
    transition-property: background, color;
    cursor: pointer;
}

/*index button*/
.solutions button {
    color: var(--cloud);
    background-color: var(--ocean);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    border: 0px;
}

.solutions button:hover {
    color: var(--cloud);
    background-color: var(--ocean);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition-property: background-color, box-shadow;
    transition-duration:  var(--trns-fast);
}

/*index button*/

.container {
    margin: 0 auto;
    padding: 0 16px;
    width: 1158px;
    flex-shrink: 0;
}
header{
    border-bottom: 1px solid var(--cornflower);
}
header .container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 40px;
}

address {
    margin-left: auto;
}

address ul {
    font-style: normal;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    letter-spacing: 0.02em;
    color: var(--slate);
    gap: 40px;
    margin: 0;
    padding: 0;
}


address li:hover {
    color: var(--ocean);
    transition-property: color;
    transition: var(--trns-fast);
    cursor: pointer;
}

address li:active {
    font-weight: 400;
}

.vision {
    display: flex;
    padding: 120px 0;
    gap:24px;
}
.vision h3{
    margin-bottom: 8px;
}

.benefits {
    display: flex;
    gap: 16px;  /* якщо 24 то не поміщається три картинки у рядок*/
    padding: 0  0 120px 0;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
 }

.benefits .item {
    width: calc((100% - 32px) / 3)
}

.benefits-h2{
    margin-bottom: 72px;
}


.team-list {
    margin-top: 72px;
    display: flex;
    padding-left: 0;
}

.team-list .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    width: calc((100%) / 4);
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-list .card:hover{
    box-shadow:
            0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);

     transition: box-shadow var(--trns-fast);
}

.team-card-content{
    padding: 32px 0 32px 0;
}

.team-card-content h3{
    margin-bottom: 8px;
}


footer {
    padding: 100px 0  100px 0;
    background-color: var(--navy-blue);
}

.footer-p {
    width: 264px !important;
    font-family: var(--primary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;

}


.menu a {
    display: block;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    cursor: pointer;
    padding: 24px 0;


}

.menu a:hover {
    text-decoration: none !important;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding: 24px 0;
    letter-spacing: 0.02em;
    color: var(--ocean);
    transition: color var(--trns-fast);
}
.vision-div{
    height: 112px;
    width: 100%;
    background-color: #F4F4FD ;
    position: relative;text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.vision-icon{
    height: 64px;
}


.social-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: var( --iris);
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    border-radius: 50%;
}
.social-footer h5 {
    color: var(--WHITE);
    font-family: var(--primary-font);
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}

.footer-wrapper{
    gap: 120px;
    display: flex;
    align-items: self-start;
    justify-content: left;
 }
.footer-social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    gap: 16px;
    align-content: center;
    background-color:inherit;

}
.footer-social-wrapper .social-wrapper:hover{
    background-color: var(--green);
    transition-property: background-color, color;
    transition: var(--trns-fast);
    cursor: pointer;
}

.social-main{
    margin-top: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap:24px;
    align-content: center;
}

.customers{
    /*display: flex;*/
    /*align-items: center;*/
}

.customers h2 {
    margin-top: 120px;
    margin-bottom: 72px;
    text-align: center;
    width: 100%;
}

.customers-wrapper{
    margin-top: 72px;
    margin-bottom: 120px;
    display: inline-flex;
    gap:24px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.customer-card{
    width: 168px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 1px solid var(--light-slate);
    fill: var(--light-slate);
}

.customer-card:hover {
    border: 1px solid var(--ocean);
    color: var(--ocean);
    cursor: pointer; fill: var(--ocean)!important;
    transition-property: color;
    transition: var(--trns-fast);
}

.header-menu-link {
    position: relative;
    display: block;
    padding: 32px 0;
    font-weight: 500;
    line-height: 1.14;

   /*transition-property: color;*/
   /* transition-duration: 500ms;*/
   /* transition-timing-function: ease-in;*/
   /* transition-delay: 2s;  */
    transition: var(--trns-fast);
    transition-property: color;
}
/* Active state */
.header-menu-link:hover,
.header-menu-link:focus {
    color: rgb(var(--ocean));
    transition: color var(--trns-fast);
}
.header-menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: transparent;

}

.header-menu-link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);

}

.header-menu-link:hover::after {
    content: '';
    margin-top: 20px;
    background-color: var(--ocean);
    transition: background-color var(--trns-fast);
}

.portfolio-box{
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: var(--light, #fafafa);
    background-color: var(--ocean);
    opacity: 0.9;
    transition: 400ms ease-in 0s, 300ms var(--trns-fast);
    transition-property: transform, filter;
}
.card:hover .overlay {
    transform: translateY(0);
    filter: blur(0px);
}




.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(46, 47, 66, 0.4);
    visibility: visible;
    pointer-events: initial;
    transition: var(--trns-slow);
    transition-property: opacity, visibility;
    transition-delay: 0ms;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-delay: 500ms;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color:  var(--dairy);
    border-radius: 4px;
     opacity: 100%;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.42, 0, 0.21, 1.5);
    transition-property: transform, opacity;
    transition-delay: 600ms;
}

.backdrop.is-hidden .modal {
    transform: translateX(-50%) translateY(-50%) scale(0.3);
    opacity: 0;
    transition-delay: 0ms;
}
.modal-btn {
    display: flex;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
}

.modal-btn:hover {
    display: flex;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    opacity: 50%;
    top: 24px;
    right: 24px;
    cursor: pointer;
}

.modal-btn-icon {


}
/* #endregion */


