@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
        max-width: 100%;
    }
    .vision-div{
        display: none;
    }
    h3 {
        /*font-family: var(--primary-font);*/
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
    }
    .main-title {
        margin-bottom: 48px;

        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .benefits-h2 {
        display: block;
        margin-bottom: 72px;
    }

    /*.vision {*/
    /*    flex-wrap: wrap;*/
    /*    column-gap: 24px;*/
    /*    row-gap: 72px;*/
    /*    display: flex;*/
    /*    gap: 16px; !* якщо 24 то не поміщається три картинки у рядок*!*/
    /*    !*flex-wrap: wrap;*!*/
    /*    margin: 0;*/
    /*    list-style: none;*/
    /*}*/

    .vision h3 {
        margin-bottom: 8px;
    }

    .section-vision {
        padding: 96px 0;
    }

 .vision{
     flex-direction: row;

     flex-wrap: wrap;
 }
    .vision li{
        display: flex;
        width: 356px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .menu {
        display: flex;
        gap: 40px;
    }

    address {
        margin-left: auto;
    }

    address ul {
        font-style: normal;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        letter-spacing: 0.02em;
        color: var(--slate);
        gap: 40px;
        margin: 0;
        padding: 0;
    }


    address li:hover {
        color: var(--ocean);
        transition-property: color;
        transition: var(--trns-fast);
        cursor: pointer;
    }

    address li:active {
        font-weight: 400;
    }

    address {
        margin-left: auto;
    }

    address ul {
        font-style: normal;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        letter-spacing: 0.02em;
        color: var(--slate);
        gap: 40px;
        margin: 0;
        padding: 0;
    }

    .menu-container {
        display: none;
    }

    address li:hover {

        color: var(--ocean);
        transition-property: color;
        transition: var(--trns-fast);
        cursor: pointer;
    }

    address li:active {
        font-weight: 400;
    }
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .team-card-content {
        padding: 32px 0 32px 0;
    }
    .team-list .card {
        margin-right: 24px;
        width: calc((100%) / 2);
    }
    address{
        display: flex;  justify-content: left;
    }
    address ul {

        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        letter-spacing: 0.02em;
        color: var(--slate);
        gap: 40px;
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    header .container nav{
        display: flex;
        align-items: start;
        left: 0px;
        justify-content: left;
    }
    .footer-wrapper {
        flex-direction: row;
        align-items: self-start;
        justify-content: left;
    }

    .footer-form{
        flex-direction: row;
    }
    .footer-email {
        width: 263px;
    }

    .footer-form button {
        width: 165px;
    }

    .footer-wrapper {
        gap: 120px;
    }
}
