
@media screen and (min-width: 768px){
    .container{
        min-width: 468px;
    }
    .main-title {
        margin-bottom: 48px;

        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .benefits-h2 {
        display: block;
        margin-bottom: 72px;
    }
    .benefits{

        display: flex;
        gap: 16px; /* якщо 24 то не поміщається три картинки у рядок*/
        flex-wrap: wrap;
        margin: 0;
        list-style: none;
    }

    .section-vision{
        padding: 120px 0;
    }

    .vision-div {
        height: 112px;
        width: 100%;
        background-color: #F4F4FD;
        position: relative;
        text-align: center;
        display: flex;  flex-direction: row!important;
        align-items: center;
        justify-content: center;
        margin-bottom: 22px;
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    .vision {
        display: flex;
        flex-direction: row!important;


        gap: 24px;
    }
    .menu {
        display: flex;
        gap: 40px;
    }

    address {
        margin-left: auto;
    }

    address ul {
        font-style: normal;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        letter-spacing: 0.02em;
        color: var(--slate);
        gap: 40px;
        margin: 0;
        padding: 0;
    }


    address li:hover {
        color: var(--ocean);
        transition-property: color;
        transition: var(--trns-fast);
        cursor: pointer;
    }

    address li:active {
        font-weight: 400;
    }

    address {
        margin-left: auto;
    }

    address ul {
        font-style: normal;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        letter-spacing: 0.02em;
        color: var(--slate);
        gap: 40px;
        margin: 0;
        padding: 0;
    }


    address li:hover {

        color: var(--ocean);
        transition-property: color;
        transition: var(--trns-fast);
        cursor: pointer;
    }

    address li:active {
        font-weight: 400;
    }

}
